<div id="dashboard-analytics" class="page-layout blank grey-100-bg" fusePerfectScrollbar>

    <div class="main-widget">
        <div class="loading-shade" *ngIf="campsYearwiseChart.isLoadingResults">
            <mat-spinner *ngIf="campsYearwiseChart.isLoadingResults"></mat-spinner>
        </div>
        <div class="position-relative p-24 mat-blue-600-bg" fxLayout="row" fxLayoutAlign="space-between center">

            <div fxLayout="column" fxLayoutAlign="start start">
                <span class="h2">Visitors</span>
                <span class="h5 secondary-text">Unique visitors by month</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
                <div *ngFor="let year of years" class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer" (click)="campsYearwiseChartSelectedYear = year; debug(year)" [ngClass]="{'blue-300-bg': campsYearwiseChartSelectedYear === year}">
                    {{year}}
                </div>


                <!--<div class="py-8 px-12 border-radius-2 line-height-1 cursor-pointer" (click)="widget1SelectedYear = '2017'" [ngClass]="{'blue-300-bg': widget1SelectedYear === '2017'}">-->
                <!--    2017-->
                <!--</div>-->
                <!--<div class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer" (click)="widget1SelectedYear = '2018'" [ngClass]="{'blue-300-bg': widget1SelectedYear === '2018'}">-->
                <!--    2018-->
                <!--</div>-->

            </div>
        </div>

        <!--<div class="position-relative h-256 pb-16 mat-blue-600-bg">-->
        <!--    <canvas baseChart [datasets]="campsYearwiseChart.datasets[widget1SelectedYear]" [labels]="campsYearwiseChart.labels" [colors]="campsYearwiseChart.colors" [options]="campsYearwiseChart.options" [chartType]="campsYearwiseChart.chartType">-->
        <!--    </canvas>-->
        <!--</div>-->

        <div class="position-relative h-256 pb-16 mat-blue-600-bg">
            <canvas baseChart [datasets]="campsYearwiseChart.activeData" [labels]="campsYearwiseChart.labels" [colors]="campsYearwiseChart.colors" [options]="campsYearwiseChart.options" [chartType]="campsYearwiseChart.chartType">
            </canvas>
        </div>


    </div>

    <div class="content">

        <div class="left mr-32">

            <div class="pb-24 font-size-18 font-weight-300">
                What are your Performance Indicators saying?
            </div>

            <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">

                <!-- campsConductedChart -->
                <div class="widget" fxFlex="100" fxFlex.gt-sm="33">

                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">

                        <div class="p-16 pb-0" fxLayout="row wrap" fxLayoutAlign="start end">

                            <div class="pr-16">
                                <div class="h3 secondary-text">Camps</div>
                                <div class="font-size-54 font-weight-300 line-height-1 mt-8">
                                    {{campsConductedChart.camps.value}}
                                </div>
                            </div>

                            <div class="py-4 font-size-16" fxLayout="row" fxLayoutAlign="start center">
                                <div fxFlex="row" fxLayoutAlign="start center" class="green-fg" *ngIf="campsConductedChart.camps.ofTarget > 0">
                                    <mat-icon class="green-fg mr-4">trending_up</mat-icon>
                                    <span>{{campsConductedChart.camps.ofTarget}}%</span>
                                </div>
                                <div fxFlex="row" fxLayoutAlign="start center" class="red-fg" *ngIf="campsConductedChart.camps.ofTarget < 0">
                                    <mat-icon class="red-fg mr-4">trending_down</mat-icon>
                                    <span>{{campsConductedChart.camps.ofTarget}}%</span>
                                </div>
                                <div class="ml-4 text-nowrap">of target</div>
                            </div>

                        </div>

                        <div class="h-96 w-100-p">
                            <canvas baseChart [datasets]="campsConductedChart.datasets" [labels]="campsConductedChart.labels" [colors]="campsConductedChart.colors" [options]="campsConductedChart.options" [chartType]="campsConductedChart.chartType">
                            </canvas>
                        </div>

                    </div>

                </div>
                <!-- / campsConductedChart -->

                <!-- screeningsConductedChart -->
                <div class="widget" fxFlex="100" fxFlex.gt-sm="34">

                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">

                        <div class="p-16 pb-0" fxLayout="row wrap" fxLayoutAlign="start end">

                            <div class="pr-16">
                                <div class="h3 secondary-text">Screenings</div>
                                <div class="font-size-54 font-weight-300 line-height-1 mt-8">
                                    {{screeningsConductedChart.screenings.value}}
                                </div>
                            </div>

                            <div class="py-4 font-size-16" fxLayout="row" fxLayoutAlign="start center">
                                <div fxFlex="row" fxLayoutAlign="start center" class="green-fg" *ngIf="screeningsConductedChart.screenings.ofTarget > 0">
                                    <mat-icon class="green-fg mr-4">trending_up</mat-icon>
                                    <span>{{screeningsConductedChart.screenings.ofTarget}}%</span>
                                </div>
                                <div fxFlex="row" fxLayoutAlign="start center" class="red-fg" *ngIf="screeningsConductedChart.screenings.ofTarget < 0">
                                    <mat-icon class="red-fg mr-4">trending_down</mat-icon>
                                    <span>{{screeningsConductedChart.screenings.ofTarget}}%</span>
                                </div>
                                <div class="ml-4 text-nowrap">of target</div>
                            </div>

                        </div>

                        <div class="h-96 w-100-p">
                            <canvas baseChart [datasets]="screeningsConductedChart.datasets" [labels]="screeningsConductedChart.labels" [colors]="screeningsConductedChart.colors" [options]="screeningsConductedChart.options" [chartType]="screeningsConductedChart.chartType">
                            </canvas>
                        </div>

                    </div>

                </div>
                <!-- / screeningsConductedChart -->

                <!-- surgeriesConductedChart -->
                <div class="widget" fxFlex="100" fxFlex.gt-sm="33">

                    <div class="fuse-card auto-width">

                        <div class="p-16 pb-0" fxLayout="row wrap" fxLayoutAlign="start end">

                            <div class="pr-16">
                                <div class="h3 secondary-text">Surgeries</div>
                                <div class="font-size-54 font-weight-300 line-height-1 mt-8">
                                    {{surgeriesConductedChart.surgeries.value}}
                                </div>
                            </div>

                            <div class="py-4 font-size-16" fxLayout="row" fxLayoutAlign="start center">
                                <div fxFlex="row" fxLayoutAlign="start center" class="green-fg" *ngIf="surgeriesConductedChart.surgeries.ofTarget > 0">
                                    <mat-icon class="green-fg mr-4">trending_up</mat-icon>
                                    <span>{{surgeriesConductedChart.surgeries.ofTarget}}%</span>
                                </div>
                                <div fxFlex="row" fxLayoutAlign="start center" class="red-fg" *ngIf="surgeriesConductedChart.surgeries.ofTarget < 0">
                                    <mat-icon class="red-fg mr-4">trending_down</mat-icon>
                                    <span>{{surgeriesConductedChart.surgeries.ofTarget}}%</span>
                                </div>
                                <div class="ml-4 text-nowrap">of target</div>
                            </div>

                        </div>

                        <div class="h-96 w-100-p">
                            <canvas baseChart [datasets]="surgeriesConductedChart.datasets" [labels]="surgeriesConductedChart.labels" [colors]="surgeriesConductedChart.colors" [options]="surgeriesConductedChart.options" [chartType]="surgeriesConductedChart.chartType">
                            </canvas>
                        </div>

                    </div>

                </div>
                <!-- / surgeriesConductedChart -->

            </div>

            <!-- patientVisits -->
            <div class="pt-48 pb-24 font-size-18 font-weight-300">
                How many Screenings and Surgeries were done?
            </div>

            <div class="fuse-card auto-width">

                <div class="position-relative p-24" fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="column" fxLayoutAlign="start start">
                        <span class="h2">Screenings & Surgeries</span>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <div class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer" (click)="widget5SelectedDay = 'yesterday'" [ngClass]="{'grey-300-bg': widget5SelectedDay === 'yesterday'}">
                            Yesterday
                        </div>
                        <div class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer" (click)="widget5SelectedDay = 'today'" [ngClass]="{'grey-300-bg': widget5SelectedDay === 'today'}">
                            Today
                        </div>
                    </div>
                </div>

                <div class="position-relative h-368 pb-16">
                    <canvas baseChart [datasets]="hourlyScreeningsSurgeries.datasets[widget5SelectedDay]" [labels]="hourlyScreeningsSurgeries.labels" [colors]="hourlyScreeningsSurgeries.colors" [options]="hourlyScreeningsSurgeries.options" [chartType]="hourlyScreeningsSurgeries.chartType">
                    </canvas>
                </div>

            </div>
            <!-- / patientVisits -->

            <!-- campsConductedMap -->
            <div class="pt-48 pb-24 font-size-18 font-weight-300">
                Where are your Camps?
            </div>

            <div class="fuse-card auto-width p-16">

                <agm-map class="h-640 w-100-p" [fitBounds]="campsConductedMap.bounds"  [fullscreenControl]="false" [rotateControl]="false" [zoomControl]="true" [scaleControl]="false" [streetViewControl]="false" [scrollwheel]="false" [styles]="campsConductedMap.styles">
                    <agm-marker *ngFor="let marker of campsConductedMap.markers" [latitude]="marker.lat" [longitude]="marker.lng">

                        <agm-info-window>
                            <strong>{{marker.label}}</strong>
                        </agm-info-window>

                    </agm-marker>
                </agm-map>

            </div>
            <!-- / campsConductedMap -->

        </div>

        <div class="right">

            <div fxLayout="row wrap" fxLayout.gt-md="column">

                <!-- dummyDevices -->
                <div class="mb-48" [ngClass.lt-lg]="'mr-32'">

                    <div class="pb-24 font-size-18 font-weight-300">
                        What is your coverage of Vulnerable Sections?
                    </div>

                    <div class="fuse-card">

                        <div class="p-16">
                            <div class="h1 font-weight-300">Sessions by device</div>
                        </div>

                        <div class="h-200">
                            <ngx-charts-pie-chart *fuseIfOnDom [scheme]="vulnerables.scheme" [results]="vulnerables.vulnerable" [doughnut]="true">
                            </ngx-charts-pie-chart>
                        </div>

                        <div class="p-16" fxLayout="row" fxLayoutAlign="center center">

                            <div class="px-16" fxLayout="column" fxLayoutAlign="start center" *ngFor="let vulnerable of vulnerables.vulnerable">

                                <div class="h4 secondary-text">{{vulnerable.name}}</div>
                                <div class="h2 font-weight-300 py-8">{{vulnerable.value}}%</div>

                                <div fxLayout="row" fxLayoutAlign="center center">
                                    <mat-icon class="s-18 pr-4 red-fg" *ngIf="vulnerable.change < 0">
                                        arrow_downward
                                    </mat-icon>

                                    <mat-icon class="s-18 pr-4 green-fg" *ngIf="vulnerable.change > 0">
                                        arrow_upward
                                    </mat-icon>

                                    <div class="h5 red-fg" [ngClass]="{'red-fg': vulnerable.change < 0, 'green-fg': vulnerable.change > 0}">
                                        {{vulnerable.change}}%
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="card-divider mb-0"></div>

                        <div class="px-16" fxLayout="row" fxLayoutAlign="space-between center">
                            <mat-form-field>
                                <mat-select class="simplified" (ngModelChange)="updateVulnerables($event)" [(ngModel)]="vulnerables.days">
                                    <mat-option value="1">Today</mat-option>
                                    <mat-option value="2">Yesterday</mat-option>
                                    <mat-option value="7">Last 7 days</mat-option>
                                    <mat-option value="28">Last 28 days</mat-option>
                                    <mat-option value="90">Last 90 days</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <!-- <button mat-button color="accent">OVERVIEW</button> -->
                        </div>

                    </div>

                </div>
                <!-- / dummyDevices -->

                <!-- vulnarables -->
                <!-- <div class="mb-48" [ngClass.lt-lg]="'mr-32'">

                    <div class="pb-24 font-size-18 font-weight-300">
                        How are your sales?
                    </div>

                    <div class="fuse-card">

                        <div class="mat-light-blue-600-bg">

                            <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                                <div class="pr-16">
                                    <div class="h1 font-weight-300">Sales</div>
                                    <div class="h5 secondary-text">Lifetime sum of your sales</div>
                                </div>

                                <div>
                                    <button mat-icon-button [matMenuTriggerFor]="card19Menu" aria-label="more">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>

                                    <mat-menu #card19Menu="matMenu">
                                        <button mat-menu-item>
                                            <mat-icon>trending_up</mat-icon>
                                            <span>Trend</span>
                                        </button>
                                        <button mat-menu-item>
                                            <mat-icon>history</mat-icon>
                                            <span>History</span>
                                        </button>
                                        <button mat-menu-item>
                                            <mat-icon>notifications_off</mat-icon>
                                            <span>Disable alerts</span>
                                        </button>
                                    </mat-menu>
                                </div>
                            </div>

                            <div class="p-16 pt-8" fxLayout="row" fxLayoutAlign="space-between end">
                                <div class="font-size-48 font-weight-300 line-height-1">{{sales.today}}</div>
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    <mat-icon *ngIf="sales.change.value > 0">trending_up</mat-icon>
                                    <mat-icon *ngIf="sales.change.value < 0">trending_down</mat-icon>
                                    <div class="ml-8">{{sales.change.value}} ({{sales.change.percentage}}%)
                                    </div>
                                </div>
                            </div>

                        </div>

                        <mat-tab-group backgroundColor="accent">
                            <mat-tab label="1DAY">
                                <div class="h-200 my-16">
                                    <ngx-charts-line-chart *fuseIfOnDom [scheme]="vulnarables.scheme" [results]="vulnarables.data" [xAxis]="false" [yAxis]="true" [yScaleMin]="vulnarables.dataMin" [yScaleMax]="vulnarables.dataMax">
                                    </ngx-charts-line-chart>
                                </div>
                            </mat-tab>

                            <mat-tab label="1WEEK">
                                <div class="h-200 my-16">
                                    <ngx-charts-line-chart *fuseIfOnDom [scheme]="vulnarables.scheme" [results]="vulnarables.data" [xAxis]="false" [yAxis]="true" [yScaleMin]="vulnarables.dataMin" [yScaleMax]="vulnarables.dataMax">
                                    </ngx-charts-line-chart>
                                </div>
                            </mat-tab>

                            <mat-tab label="1MONTH">
                                <div class="h-200 my-16">
                                    <ngx-charts-line-chart *fuseIfOnDom [scheme]="vulnarables.scheme" [results]="vulnarables.data" [xAxis]="false" [yAxis]="true" [yScaleMin]="vulnarables.dataMin" [yScaleMax]="vulnarables.dataMax">
                                    </ngx-charts-line-chart>
                                </div>
                            </mat-tab>
                        </mat-tab-group>

                    </div>

                </div> -->

                <!-- / vulnarables -->

                <!-- topCoordinators -->
                <div class="mb-48" [ngClass.lt-lg]="'mr-32'">

                    <div class="pb-24 font-size-18 font-weight-300" [ngClass.lt-lg]="'pt-0'">
                        Who are your top camp coordinators?
                    </div>

                    <div class="fuse-card">

                        <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="h1 pr-16">Camp Coordinators</div>

                            <!--<div>-->
                            <!--    <button mat-icon-button [matMenuTriggerFor]="card20Menu" aria-label="more">-->
                            <!--        <mat-icon>more_vert</mat-icon>-->
                            <!--    </button>-->

                            <!--    <mat-menu #card20Menu="matMenu">-->
                            <!--        <button fxLayout="row" fxLayoutAlign="start center" mat-menu-item>-->
                            <!--            <mat-icon color="accent">check_box</mat-icon>-->
                            <!--            <span>Show Clicks</span>-->
                            <!--        </button>-->
                            <!--        <button fxLayout="row" fxLayoutAlign="start center" mat-menu-item>-->
                            <!--            <mat-icon color="accent">check_box</mat-icon>-->
                            <!--            <span>Show Conversion</span>-->
                            <!--        </button>-->
                            <!--    </mat-menu>-->
                            <!--</div>-->
                        </div>

                        <table class="simple clickable">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="text-right">Screenings</th>
                                    <th class="text-right">Surgeries</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of topCoordinators.rows">
                                    <td>{{row.employee_name}}</td>
                                    <td class="text-right">{{row.screenings}}</td>
                                    <td class="text-right">{{row.surgeries}}</td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="card-divider full-width"></div>

                        <div class="p-8 pt-16" fxLayout="row" fxLayoutAlign="start center">
                            <button mat-button color="accent" (click)="goToCamps()">GO TO CAMPS</button>
                        </div>

                    </div>

                </div>
                <!--/ topCoordinators -->

            </div>

        </div>

    </div>

</div>
