.loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.25);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fab-button-bottom-right {
    z-index: 10;
    position: fixed;
    display: flex;
    align-self: flex-end;
    bottom: 10%;
    right: 5%; // margin-right: 14px;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}

.element-row {
    position: relative;
}

.element-row:not(.expanded) {
    cursor: pointer;
}

.element-row:not(.expanded):hover {
    background: #f5f5f5;
}

.element-row.expanded {
    border-bottom-color: transparent;
}
