<div class="widget-group grey-100-bg" fxLayout="row wrap" fxFlex="100" *fuseIfOnDom [@animateStagger]="{value:'50'}">

    <div class="loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>

    <!-- WIDGET 11 -->
    <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="row" fxFlex="100">

        <!-- Front -->
        <div fusePerfectScrollbar class="fuse-widget-front mat-white-bg mat-elevation-z2">

            <div class="p-24 mb-8 border-bottom" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="h2">Camp Name</div>
                <div class="text-boxed red-bg white-fg m-0">
                    {{patientTableDatasource.length}} Patients
                </div>
            </div>

            <mat-table #table [dataSource]="patientTableDatasource" matSort matSortActive="patient_id" matSortDisableClear matSortDirection="asc">

                <!-- Avatar Column -->
                <!--<ng-container cdkColumnDef="patient_id">-->
                <!--    <mat-header-cell fxFlex="64px" *cdkHeaderCellDef></mat-header-cell>-->
                <!--    <mat-cell fxFlex="64px" *cdkCellDef="let patient">-->
                <!--        <img class="avatar" *ngIf="patient.patient_id" [alt]="patient.name" [src]="patient.avatar" />-->
                <!--    </mat-cell>-->
                <!--</ng-container>-->

                <!-- patient_id Column -->
                <ng-container cdkColumnDef="patient_id">
                    <mat-header-cell *cdkHeaderCellDef>patient id</mat-header-cell>
                    <mat-cell *cdkCellDef="let patient">
                        <p class="text-truncate font-weight-600">{{patient.patient_id}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Position Column -->
                <ng-container cdkColumnDef="patient_name">
                    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>Name
                    </mat-header-cell>
                    <mat-cell *cdkCellDef="let patient" fxHide fxShow.gt-sm>
                        <p class="position text-truncate">
                            {{patient.patient_name}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Office Column -->
                <ng-container cdkColumnDef="HEAD_OF_FAMILY_NAME">
                    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Head Of Family Name
                    </mat-header-cell>
                    <mat-cell *cdkCellDef="let patient" fxHide fxShow.gt-md>
                        <p class="office text-truncate">
                            {{patient.HEAD_OF_FAMILY_NAME}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- AADHAR Column -->
                <ng-container cdkColumnDef="AADHAR">
                    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>AADHAR
                    </mat-header-cell>
                    <mat-cell *cdkCellDef="let patient" fxHide fxShow.gt-md>
                        <p class="office text-truncate">
                            {{patient.AADHAR}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- AGE Column -->
                <ng-container cdkColumnDef="AGE">
                    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>AGE
                    </mat-header-cell>
                    <mat-cell *cdkCellDef="let patient" fxHide fxShow.gt-md>
                        <p class="office text-truncate">
                            {{patient.AGE}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- CONTACT_NUMBER Column -->
                <ng-container cdkColumnDef="CONTACT_NUMBER">
                    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>CONTACT_NUMBER
                    </mat-header-cell>
                    <mat-cell *cdkCellDef="let patient" fxHide fxShow.gt-md>
                        <p class="office text-truncate">
                            {{patient.CONTACT_NUMBER}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Email Column -->
                <ng-container cdkColumnDef="GENDER">
                    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>Gender
                    </mat-header-cell>
                    <mat-cell *cdkCellDef="let patient" fxHide fxShow.gt-sm>
                        <p class="email text-truncate">
                            {{patient.GENDER}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Phone Column -->
                <ng-container cdkColumnDef="BELOW_POVERTY_LINE">
                    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Below Poverty Line
                    </mat-header-cell>
                    <mat-cell *cdkCellDef="let patient" fxHide fxShow.gt-md>
                        <p class="phone text-truncate">
                            {{patient.BELOW_POVERTY_LINEl}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- WHITE_RATION_CARD Column -->
                <ng-container cdkColumnDef="WHITE_RATION_CARD">
                    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>WHITE RATION CARD
                    </mat-header-cell>
                    <mat-cell *cdkCellDef="let patient" fxHide fxShow.gt-md>
                        <p class="phone text-truncate">
                            {{patient.WHITE_RATION_CARD}}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container cdkColumnDef="DATE_OF_BIRTH">
                    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Date of Birth
                    </mat-header-cell>
                    <mat-cell *cdkCellDef="let patient" fxHide fxShow.gt-md>
                        <p class="phone text-truncate">
                            {{patient.DATE_OF_BIRTH}}
                        </p>
                    </mat-cell>
                </ng-container>
                <ng-container cdkColumnDef="CHIEF_COMPLAINTS">
                    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Chief Complaints
                    </mat-header-cell>
                    <mat-cell *cdkCellDef="let patient" fxHide fxShow.gt-md>
                        <p class="phone text-truncate">
                            {{patient.CHIEF_COMPLAINTS}}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container cdkColumnDef="Edit">
                    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Edit
                    </mat-header-cell>
                    <mat-cell *cdkCellDef="let patient" fxHide fxShow.gt-md>
                        <p class="phone text-truncate">
                            <mat-icon (click)="editPatient(patient)" [@animate]="{value:'*',params:{y:'100%'}}">edit</mat-icon>
                        </p>
                    </mat-cell>
                </ng-container>
                <!-- Expanded Content Column - The detail row is made up of this one column -->
                <ng-container matColumnDef="expandedDetail">
                    <mat-cell *matCellDef="let detail">
                        <div *ngIf="expandedElement == detail.element">
                            <app-screenings [patientId]="detail.element.patient_id"></app-screenings>
                            <app-visits></app-visits>
                        </div>
                        hello!
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row" [class.expanded]="expandedElement == row" (click)="expandedElement = row"></mat-row>
                <mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow" [@detailExpand]="row.element == expandedElement ? 'expanded' : 'collapsed'" style="overflow: hidden">
                </mat-row>

            </mat-table>
        </div>
        <!-- / Front -->
    </fuse-widget>
    <!-- / WIDGET 11 -->
    <div class="fab-button-bottom-right">
        <button mat-fab color="accent" *fuseIfOnDom [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}" (click)="addPatient()">
                <mat-icon  >add</mat-icon>
            </button>
    </div>

</div>
