<div class="widget-group" fxLayout="row wrap" fxFlex="100" *fuseIfOnDom [@animateStagger]="{value:'50'}">

    <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="row" fxFlex="100">
        <!-- Front -->
        <div fusePerfectScrollbar class="fuse-widget-front mat-white-bg mat-elevation-z2">
            <div class="p-24 mb-8 border-bottom" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="h2">Visits</div>
                <div fxLayout="row" fxLayoutAlign="space-between end">
                  <div>
                    <button>+ Add</button>
                  </div>
                  <div class="text-boxed red-bg white-fg m-0">
                      Visits
                  </div>
                </div>

            </div>
        </div>
          <!-- / Front -->
    </fuse-widget>
</div>
    