@import "src/@fuse/scss/fuse";

.contact-form-dialog {

    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint-up('xs') {
        width: 400px;
    }

    .mat-dialog-container {
        padding: 0;
        overflow: hidden; // width: 500px; // height: 600px;
        .mat-toolbar {
            min-height: initial;
        }

        .toolbar-bottom {
            height: auto;
        }
        .full-width {
            width: 100%;
        }
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex; // flex-direction: column;
        // width: 500px;
        // height: 600px;
    }
}
