<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">New Screening</span>
            <button mat-button class="mat-icon-button" (click)="dialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>



    </mat-toolbar>


    <div mat-dialog-content class="p-24 m-0">

        <button mat-raised-button (click)="isLinear = false" id="toggle-linear">Enter New Screening Details</button>

        <mat-vertical-stepper [linear]="isLinear" #stepper="matVerticalStepper">
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Fill General Details</ng-template>
                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Patient Id" formControlName="patient_id" required>
                            <mat-error *ngIf="firstFormGroup.get('patient_id').hasError('required')">
                                Patient Id is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field>
                            <input matInput placeholder="Screening Id" formControlName="screeningId" required>
                            <mat-error *ngIf="firstFormGroup.get('screeningId').hasError('required')">
                                Screening Id is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field>
                            <input matInput placeholder="Camp Id" formControlName="campId" required>
                            <mat-error *ngIf="firstFormGroup.get('campId').hasError('required')">
                                Camp Id is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field>
                            <mat-select placeholder="Select District" formControlName="district" required [(ngModel)]="selectedDistrict">
                                <mat-option *ngFor="let district of districts" [value]="district.district_code">
                                    {{district.district_name}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="firstFormGroup.get('district').hasError('required')">
                                District is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field>
                            <input matInput placeholder="Serial No" formControlName="serialNo" required>
                            <mat-error *ngIf="firstFormGroup.get('serialNo').hasError('required')">
                                Serial No is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field>
                            <input matInput placeholder="Final Remarks" formControlName="finalRemarks" required>
                            <mat-error *ngIf="firstFormGroup.get('finalRemarks').hasError('required')">
                                Final Remarks is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" optional>
                <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Fill out your A_S Details</ng-template>
                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field>
                            <input matInput placeholder="A_S_EXAMINATION" formControlName="A_S_EXAMINATION" required>
                            <!--<mat-error * ngIf = "secondFormGroup.get('A_S_EXAMINATION').hasError('required')" > -- >
                    <!--    A_S_EXAMINATION is required-->
                            <!--</mat-error>-->
                        </mat-form-field>
                    </div>
                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field>
                            <input matInput placeholder="A_S_OTHER_CONDITION" formControlName="A_S_OTHER_CONDITION" required>
                            <!--<mat-error *ngIf="secondFormGroup.get('A_S_OTHER_CONDITION').hasError('required')">-->
                            <!--    A_S_OTHER_CONDITION is required-->
                            <!--</mat-error>-->
                        </mat-form-field>
                    </div>
                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field>
                            <input matInput placeholder="A_S_REFERRAL_ADVICE" formControlName="A_S_REFERRAL_ADVICE" required>
                            <!--<mat-error *ngIf="secondFormGroup.get('A_S_REFERRAL_ADVICE').hasError('required')">-->
                            <!--    A_S_REFERRAL_ADVICE is required-->
                            <!--</mat-error>-->
                        </mat-form-field>
                    </div>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="thirdFormGroup" optional>
                <form [formGroup]="thirdFormGroup">
                    <ng-template matStepLabel>Fill out your CHIEF COMPLAINTS Details</ng-template>
                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field>
                            <input matInput placeholder="CHIEF_COMPLAINTS_DURATION" formControlName="CHIEF_COMPLAINTS_DURATION" required>
                            <!--<mat-error *ngIf="thirdFormGroup.get('CHIEF_COMPLAINTS_DURATION').hasError('required')">-->
                            <!--    CHIEF_COMPLAINTS_DURATION is required-->
                            <!--</mat-error>-->
                        </mat-form-field>
                    </div>
                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field>
                            <input matInput placeholder="CHIEF_COMPLAINTS_OCULAR_SEQUELAE" formControlName="CHIEF_COMPLAINTS_OCULAR_SEQUELAE" required>
                            <!--<mat-error *ngIf="thirdFormGroup.get('CHIEF_COMPLAINTS_OCULAR_SEQUELAE').hasError('required')">-->
                            <!--    CHIEF_COMPLAINTS_OCULAR_SEQUELAE is required-->
                            <!--</mat-error>-->
                        </mat-form-field>
                    </div>
                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field>
                            <input matInput placeholder="CHIEF_COMPLAINTS_SPH" formControlName="CHIEF_COMPLAINTS_SPH" required>
                            <!--<mat-error *ngIf="thirdFormGroup.get('CHIEF_COMPLAINTS_SPH').hasError('required')">-->
                            <!--    CHIEF_COMPLAINTS_SPH is required-->
                            <!--</mat-error>-->
                        </mat-form-field>
                    </div>
                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field>
                            <input matInput placeholder="CHIEF_COMPLAINTS_SYSTEMIC_ILLNESS" formControlName="CHIEF_COMPLAINTS_SYSTEMIC_ILLNESS" required>
                            <!--<mat-error *ngIf="thirdFormGroup.get('CHIEF_COMPLAINTS_SYSTEMIC_ILLNESS').hasError('required')">-->
                            <!--    CHIEF_COMPLAINTS_SYSTEMIC_ILLNESS is required-->
                            <!--</mat-error>-->
                        </mat-form-field>
                    </div>
                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field>
                            <input matInput placeholder="OPTHALMIC_ASSISTANT" formControlName="OPTHALMIC_ASSISTANT" required>
                            <!--<mat-error *ngIf="thirdFormGroup.get('OPTHALMIC_ASSISTANT').hasError('required')">-->
                            <!--    OPTHALMIC_ASSISTANT is required-->
                            <!--</mat-error>-->
                        </mat-form-field>
                    </div>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="fourthFormGroup" optional>
                <form [formGroup]="fourthFormGroup">
                    <ng-template matStepLabel>Fill out your EYE REFRACTION Details</ng-template>
                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field>
                            <input matInput placeholder="REFRACTION_LEFT_EYE_ADD_LEFT_EYE" formControlName="REFRACTION_LEFT_EYE_ADD_LEFT_EYE" required>
                            <!--<mat-error *ngIf="fourthFormGroup.get('REFRACTION_LEFT_EYE_ADD_LEFT_EYE').hasError('required')">-->
                            <!--    REFRACTION_LEFT_EYE_ADD_LEFT_EYE is required-->
                            <!--</mat-error>-->
                        </mat-form-field>
                    </div>
                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field>
                            <input matInput placeholder="REFRACTION_LEFT_EYE_ADD_LEFT_EYE_VA" formControlName="REFRACTION_LEFT_EYE_ADD_LEFT_EYE_VA" required>
                            <!--<mat-error *ngIf="fourthFormGroup.get('REFRACTION_LEFT_EYE_ADD_LEFT_EYE_VA').hasError('required')">-->
                            <!--    REFRACTION_LEFT_EYE_ADD_LEFT_EYE_VA is required-->
                            <!--</mat-error>-->
                        </mat-form-field>
                    </div>
                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field>
                            <input matInput placeholder="REFRACTION_LEFT_EYE_AXIS" formControlName="REFRACTION_LEFT_EYE_AXIS" required>
                            <!--<mat-error *ngIf="fourthFormGroup.get('REFRACTION_LEFT_EYE_AXIS').hasError('required')">-->
                            <!--    REFRACTION_LEFT_EYE_AXIS is required-->
                            <!--</mat-error>-->
                        </mat-form-field>
                    </div>
                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field>
                            <input matInput placeholder="REFRACTION_LEFT_EYE_CYL" formControlName="REFRACTION_LEFT_EYE_CYL" required>
                            <!--<mat-error *ngIf="fourthFormGroup.get('REFRACTION_LEFT_EYE_CYL').hasError('required')">-->
                            <!--    REFRACTION_LEFT_EYE_CYL is required-->
                            <!--</mat-error>-->
                        </mat-form-field>
                    </div>
                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field>
                            <input matInput placeholder="REFRACTION_LEFT_EYE_SPH" formControlName="REFRACTION_LEFT_EYE_SPH" required>
                            <!--<mat-error *ngIf="fourthFormGroup.get('REFRACTION_LEFT_EYE_SPH').hasError('required')">-->
                            <!--    REFRACTION_LEFT_EYE_SPH is required-->
                            <!--</mat-error>-->
                        </mat-form-field>
                    </div>
                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field>
                            <input matInput placeholder="REFRACTION_LEFT_EYE_VA" formControlName="REFRACTION_LEFT_EYE_VA" required>
                            <!--<mat-error *ngIf="fourthFormGroup.get('REFRACTION_LEFT_EYE_VA').hasError('required')">-->
                            <!--    REFRACTION_LEFT_EYE_VA is required-->
                            <!--</mat-error>-->
                        </mat-form-field>
                    </div>
                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field>
                            <input matInput placeholder="REFRACTION_RIGHT_EYE_ADD_RIGHT_EYE" formControlName="REFRACTION_RIGHT_EYE_ADD_RIGHT_EYE" required>
                            <!--<mat-error *ngIf="fourthFormGroup.get('REFRACTION_RIGHT_EYE_ADD_RIGHT_EYE').hasError('required')">-->
                            <!--    REFRACTION_RIGHT_EYE_ADD_RIGHT_EYE is required-->
                            <!--</mat-error>-->
                        </mat-form-field>
                    </div>
                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field>
                            <input matInput placeholder="REFRACTION_RIGHT_EYE_ADD_RIGHT_EYE_VA" formControlName="REFRACTION_RIGHT_EYE_ADD_RIGHT_EYE_VA" required>
                            <!--<mat-error *ngIf="fourthFormGroup.get('REFRACTION_RIGHT_EYE_ADD_RIGHT_EYE_VA').hasError('required')">-->
                            <!--    REFRACTION_RIGHT_EYE_ADD_RIGHT_EYE_VA is required-->
                            <!--</mat-error>-->
                        </mat-form-field>
                    </div>
                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field>
                            <input matInput placeholder="REFRACTION_RIGHT_EYE_AXIS" formControlName="REFRACTION_RIGHT_EYE_AXIS" required>
                            <!--<mat-error *ngIf="fourthFormGroup.get('REFRACTION_RIGHT_EYE_AXIS').hasError('required')">-->
                            <!--    REFRACTION_RIGHT_EYE_AXIS is required-->
                            <!--</mat-error>-->
                        </mat-form-field>
                    </div>
                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field>
                            <input matInput placeholder="REFRACTION_RIGHT_EYE_CYL" formControlName="REFRACTION_RIGHT_EYE_CYL" required>
                            <!--<mat-error *ngIf="fourthFormGroup.get('REFRACTION_RIGHT_EYE_CYL').hasError('required')">-->
                            <!--    REFRACTION_RIGHT_EYE_CYL is required-->
                            <!--</mat-error>-->
                        </mat-form-field>
                    </div>
                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field>
                            <input matInput placeholder="REFRACTION_RIGHT_EYE_SPH" formControlName="REFRACTION_RIGHT_EYE_SPH" required>
                            <!--<mat-error *ngIf="fourthFormGroup.get('REFRACTION_RIGHT_EYE_SPH').hasError('required')">-->
                            <!--    REFRACTION_RIGHT_EYE_SPH is required-->
                            <!--</mat-error>-->
                        </mat-form-field>
                    </div>
                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field>
                            <input matInput placeholder="REFRACTION_RIGHT_EYE_VA" formControlName="REFRACTION_RIGHT_EYE_VA" required>
                            <!--<mat-error *ngIf="fourthFormGroup.get('REFRACTION_RIGHT_EYE_VA').hasError('required')">-->
                            <!--    REFRACTION_RIGHT_EYE_VA is required-->
                            <!--</mat-error>-->
                        </mat-form-field>
                    </div>
                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field>
                            <input matInput placeholder="PINHOLE_LE" formControlName="PINHOLE_LE" required>
                            <!--<mat-error *ngIf="fourthFormGroup.get('PINHOLE_LE').hasError('required')">-->
                            <!--    PINHOLE_LE is required-->
                            <!--</mat-error>-->
                        </mat-form-field>
                    </div>
                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field>
                            <input matInput placeholder="PINHOLE_RE" formControlName="PINHOLE_RE" required>
                            <!--<mat-error *ngIf="fourthFormGroup.get('PINHOLE_RE').hasError('required')">-->
                            <!--    PINHOLE_RE is required-->
                            <!--</mat-error>-->
                        </mat-form-field>
                    </div>
                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field>
                            <input matInput placeholder="UNAIDED_VA_LE" formControlName="UNAIDED_VA_LE" required>
                            <!--<mat-error *ngIf="fourthFormGroup.get('UNAIDED_VA_LE').hasError('required')">-->
                            <!--    UNAIDED_VA_LE is required-->
                            <!--</mat-error>-->
                        </mat-form-field>
                    </div>
                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field>
                            <input matInput placeholder="UNAIDED_VA_RE" formControlName="UNAIDED_VA_RE" required>
                            <!--<mat-error *ngIf="fourthFormGroup.get('UNAIDED_VA_RE').hasError('required')">-->
                            <!--    UNAIDED_VA_RE is required-->
                            <!--</mat-error>-->
                        </mat-form-field>
                    </div>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="fifthFormGroup" optional>
                <form [formGroup]="fifthFormGroup">
                    <ng-template matStepLabel>Fill out your TIME Details</ng-template>
                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field>
                            <input matInput placeholder="START_TIME" formControlName="START_TIME" required>
                            <!--<mat-error * ngIf = "fifthFormGroup.get('START_TIME').hasError('required')" > -- >
                    <!--    START_TIME is required-->
                            <!--</mat-error>-->
                        </mat-form-field>
                    </div>
                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field>
                            <input matInput placeholder="create_timestamp" formControlName="create_timestamp" required>
                            <!--<mat-error *ngIf="fifthFormGroup.get('create_timestamp').hasError('required')">-->
                            <!--    create_timestamp is required-->
                            <!--</mat-error>-->
                        </mat-form-field>
                    </div>
                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field>
                            <input matInput placeholder="data_entry_time" formControlName="data_entry_time" required>
                            <!--<mat-error *ngIf="fifthFormGroup.get('data_entry_time').hasError('required')">-->
                            <!--    data_entry_time is required-->
                            <!--</mat-error>-->
                        </mat-form-field>
                    </div>

                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field>
                            <input matInput placeholder="update_timestamp" formControlName="update_timestamp" required>
                            <!--<mat-error *ngIf="fifthFormGroup.get('update_timestamp').hasError('required')">-->
                            <!--    update_timestamp is required-->
                            <!--</mat-error>-->
                        </mat-form-field>
                    </div>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                You are now done.
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="stepper.reset()">Reset</button>
                    <button mat-button (click)="createAScreening()">Save</button>
                </div>
            </mat-step>
        </mat-vertical-stepper>


    </div>


</div>
