.fab-button-bottom-right {
    z-index: 10;
    position: fixed;
    display: flex;
    align-self: flex-end;
    bottom: 10%;
    right: 5%; // margin-right: 14px;
}

@import "src/@fuse/scss/fuse";

.contact-form-dialog {

    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint-up('xs') {
        width: 400px;
    }

    .mat-dialog-container {
        padding: 0;
        overflow: hidden;

        .mat-toolbar {
            min-height: initial;
        }

        .toolbar-bottom {
            height: auto;
        }
        .full-width {
            width: 100%;
        }
        img {
            max-width: 180px;
        }
        input[type=file] {
            padding: 10px;
            background: #2d2d2d;
        }
        .invalid {
            color: red;
            font-size: 11px;
        }

        .error-label {
            margin-left: 0px;
            margin-right: 4px;
            margin-top: 4px;
            margin-bottom: 4px;
        }
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }
}

.center-cropped {
    width: 100px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.center-cropped img {
    min-height: 100%;
    min-width: 100%;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 5-7 */
    filter: alpha(opacity=0);
    /* modern browsers */
    opacity: 0;
}
