<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-button class="mat-icon-button" (click)="dialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <mat-toolbar-row class="toolbar-bottom py-8 py-sm-16" fxLayout="column" fxLayoutAlign="center center">
            <label for="profilePicInput" onclick="profilePicInput.click()">
                
                <img [src]="imageURI" class=" avatar contact-avatar huge" />
                <!--<div class="contact-name">{{patient.patient_name}}</div>-->
                <!--<div class="center-cropped" -->
                <!--     style="background-image: url('http://placehold.it/200x200');">-->
                <!--  <img [src]="imageURI" />-->
                <!--</div>-->
            </label>
            <input type="file" name="profilePic" id="profilePicInput" class="inputfile" #input1 (change)="fileSelected($event)" accept="image/*" [hidden]="true" />
        </mat-toolbar-row>

        <!--<mat-toolbar-row class="toolbar-bottom py-8 py-sm-16" fxLayout="column" fxLayoutAlign="center center">-->
        <!--    <input type="file" name="file1" id="file1" class="inputfile" (change)="fileSelected($event)" accept="image/*" [hidden]="false" />-->
        <!--          a9    <label for="file1"><i class="material-icons">account_circle</i></label>-->
        <!--    <img [src]="imageURI">-->
        <!--</mat-toolbar-row>-->

    </mat-toolbar>


    <div mat-dialog-content class="p-24 m-0">

        <form [formGroup]="newPatientForm">

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field class="full-width">
                    <input matInput type="text" placeholder="Patient Name" formControlName="patientName" required>
                    <mat-error *ngIf="newPatientForm.get('patientName').hasError('required')">
                        Patient Name is required
                    </mat-error>

                </mat-form-field>
            </div>
            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-slide-toggle formControlName="whiteRationCard" required>White Ration Card</mat-slide-toggle>
            </div>
            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field class="full-width">
                    <input matInput type="text" placeholder="Head Of Family Name" formControlName="familyHeadName" required>
                    <mat-error *ngIf="newPatientForm.get('familyHeadName').hasError('required')">
                        Head Of Family Name is required
                    </mat-error>

                </mat-form-field>
            </div>
            <!--<div class="mb-24" fxLayout="row" fxLayoutAlign="start start">-->
            <!--    <mat-form-field class="full-width">-->
            <!--        <input matInput type="number" placeholder="Contact Number" formControlName="contactNumber" required>-->
            <!--        <mat-error class="error-label" no-lines *ngIf="( newPatientForm.get('contactNumber').hasError('minlength') || newPatientForm.get('contactNumber').hasError('required') ) && newPatientForm.get('contactNumber').touched">-->

            <!--            <div class="error invalid" *ngIf="newPatientForm.get('contactNumber').hasError('required') && newPatientForm.get('contactNumber').touched">-->
            <!--                Contact Number is required-->
            <!--            </div>-->
            <!--            <div class="error invalid" *ngIf="newPatientForm.get('contactNumber').hasError('minlength') && newPatientForm.get('contactNumber').touched">-->
            <!--                Enter Valid 10 digit Contact Number-->
            <!--            </div>-->
            <!--        </mat-error>-->

            <!--    </mat-form-field>-->
            <!--</div>-->
            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field class="full-width">
                    <input matInput type="text" placeholder="Contact Number" formControlName="contactNumber" required>
                    <mat-error class="error-label" no-lines *ngIf="( newPatientForm.get('contactNumber').hasError('minlength') || newPatientForm.get('contactNumber').hasError('required') || newPatientForm.get('contactNumber').hasError('pattern') || newPatientForm.get('contactNumber').hasError('maxlength')) && newPatientForm.get('contactNumber').touched">

                        <div class="error invalid" *ngIf="newPatientForm.get('contactNumber').hasError('required') && newPatientForm.get('contactNumber').touched">
                            Contact Number is required
                        </div>
                        <div class="error invalid" *ngIf="(newPatientForm.get('contactNumber').hasError('minlength') || newPatientForm.get('contactNumber').hasError('maxlength') || newPatientForm.get('contactNumber').hasError('pattern')) && newPatientForm.get('contactNumber').touched ">
                            Enter Valid 10 digit ContactNumber
                        </div>
                    </mat-error>

                </mat-form-field>

            </div>
            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field class="full-width">
                    <input matInput type="number" placeholder="Age in years" formControlName="age" required>
                    <mat-error *ngIf="newPatientForm.get('age').hasError('required')">
                        Age is required
                    </mat-error>

                </mat-form-field>
            </div>
            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">

                <mat-form-field>
                    <input matInput readonly [matDatepicker]="dp3" placeholder="Date Of Birth" formControlName="dob" required>
                    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                    <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                </mat-form-field>


            </div>
            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Select Gender" formControlName="gender" required>
                        <mat-option *ngFor="let gender of genders" [value]="gender.gender_id">
                            {{gender.gender_name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="newPatientForm.get('gender').hasError('required')">
                        Gender is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field class="full-width">
                    <input matInput type="text" placeholder="Aadhar" formControlName="aadhar" required>
                    <mat-error class="error-label" no-lines *ngIf="( newPatientForm.get('aadhar').hasError('minlength') || newPatientForm.get('aadhar').hasError('required') || newPatientForm.get('aadhar').hasError('maxlength') || newPatientForm.get('aadhar').hasError('pattern') ) && newPatientForm.get('aadhar').touched">

                        <div class="error invalid" *ngIf="newPatientForm.get('aadhar').hasError('required') && newPatientForm.get('aadhar').touched">
                            Aadhar is required
                        </div>
                        <div class="error invalid" *ngIf="(newPatientForm.get('aadhar').hasError('minlength') || newPatientForm.get('aadhar').hasError('maxlength') || newPatientForm.get('aadhar').hasError('pattern')) && newPatientForm.get('aadhar').touched">
                            Enter Valid 12 digit Aadhar
                        </div>
                    </mat-error>

                </mat-form-field>

            </div>

            <p>Choose Ration Card</p>
            <input type="file" name="file" id="file" class="inputfile" #input (change)="fileChange(input)" accept="image/*" [hidden]="true" />
            <label for="file"><i class="material-icons">folder_open</i></label>
            <p><b>Selected Ration Card Image Name :</b>{{selRationCardImage}}</p>
            <div *ngFor="let file_src of file_srcs; let i = index">
                <img [attr.src]='file_src' alt="" />

                <!--<p>{{ debug_size_before[i] }} bytes <b>Before</b> </p>-->
                <!--<p>{{ debug_size_after[i] }} bytes <b>After</b></p>-->
            </div>


        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

        <button *ngIf="action !=='edit'" mat-raised-button (click)="createAPatient()" class="save-button mat-accent" aria-label="SAVE">
            SAVE
        </button>

        <button *ngIf="action ==='edit'" mat-raised-button (click)="dialogRef.close(['save',newPatientForm])" class="save-button mat-accent" [disabled]="newPatientForm.invalid" aria-label="SAVE">
            SAVE
        </button>

        <button *ngIf="action ==='edit'" mat-button class="mat-icon-button" (click)="dialogRef.close(['delete',newPatientForm])" aria-label="Delete" matTooltip="Delete">
            <mat-icon>delete</mat-icon>
        </button>

    </div>
</div>
