<div class="widget-group grey-100-bg" fxLayout="row wrap" fxFlex="100" *fuseIfOnDom [@animateStagger]="{value:'50'}">
    <!-- <app-mapselect></app-mapselect> -->

    <!--<div fusePerfectScrollbar>-->

    <div class="loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>

    <!-- WIDGET 11 -->
    <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="row" fxFlex="100">

        <!-- Front -->
        <div fusePerfectScrollbar class="fuse-widget-front mat-white-bg mat-elevation-z2">

            <div class="p-24 mb-8 border-bottom" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="h2">Screenings</div>
                <div>
                    <button mat-raised-button color="primary" (click)="addScreenings()">+ Add</button>

                </div>
                <div class="text-boxed red-bg white-fg m-0">
                    {{camps.rows.length}} members
                </div>

            </div>

            <mat-table #table [dataSource]="patientScreeningsTableDatasource" matSort matSortActive="patient_id" matSortDisableClear matSortDirection="asc">

                <!-- Avatar Column -->
                <!--<ng-container cdkColumnDef="patient_id">-->
                <!--    <mat-header-cell fxFlex="64px" *cdkHeaderCellDef></mat-header-cell>-->
                <!--    <mat-cell fxFlex="64px" *cdkCellDef="let camp">-->
                <!--        <img class="avatar" *ngIf="camp.camp_id" [alt]="camp.name" [src]="camp.avatar" />-->
                <!--    </mat-cell>-->
                <!--</ng-container>-->

                <!-- Name Column -->
                <ng-container cdkColumnDef="patient_id">
                    <mat-header-cell *cdkHeaderCellDef>patient_id</mat-header-cell>
                    <mat-cell *cdkCellDef="let camp">
                        <p class="text-truncate font-weight-600">{{camp.patient_id}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Position Column -->
                <ng-container cdkColumnDef="screening_id">
                    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>screening_id
                    </mat-header-cell>
                    <mat-cell *cdkCellDef="let camp" fxHide fxShow.gt-sm>
                        <p class="position text-truncate">
                            {{camp["screening_id"]}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Office Column -->
                <ng-container cdkColumnDef="camp_id">
                    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>camp_id
                    </mat-header-cell>
                    <mat-cell *cdkCellDef="let camp" fxHide fxShow.gt-md>
                        <p class="office text-truncate">
                            {{camp.camp_id}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Email Column -->
                <ng-container cdkColumnDef="SERIAL_NO">
                    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>SERIAL_NO
                    </mat-header-cell>
                    <mat-cell *cdkCellDef="let camp" fxHide fxShow.gt-sm>
                        <p class="email text-truncate">
                            {{camp.SERIAL_NO}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Phone Column -->
                <ng-container cdkColumnDef="DISTRICT">
                    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>DISTRICT
                    </mat-header-cell>
                    <mat-cell *cdkCellDef="let camp" fxHide fxShow.gt-md>
                        <p class="phone text-truncate">
                            {{camp.DISTRICT}}
                        </p>
                    </mat-cell>
                </ng-container>
                <ng-container cdkColumnDef="START_TIME">
                    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>START_TIME
                    </mat-header-cell>
                    <mat-cell *cdkCellDef="let camp" fxHide fxShow.gt-md>
                        <p class="phone text-truncate">
                            {{camp["START_TIME"]}}
                        </p>
                    </mat-cell>
                </ng-container>
                <!--<ng-container cdkColumnDef="A_S_EXAMINATION">-->
                <!--    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>A_S_EXAMINATION-->
                <!--    </mat-header-cell>-->
                <!--    <mat-cell *cdkCellDef="let camp" fxHide fxShow.gt-md>-->
                <!--        <p class="phone text-truncate">-->
                <!--            {{camp.A_S_EXAMINATION}}-->
                <!--        </p>-->
                <!--    </mat-cell>-->
                <!--</ng-container>-->
                <!--<ng-container cdkColumnDef="A_S_OTHER_CONDITION">-->
                <!--    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>A_S_OTHER_CONDITION-->
                <!--    </mat-header-cell>-->
                <!--    <mat-cell *cdkCellDef="let camp" fxHide fxShow.gt-md>-->
                <!--        <p class="phone text-truncate">-->
                <!--            {{camp.A_S_OTHER_CONDITION}}-->
                <!--        </p>-->
                <!--    </mat-cell>-->
                <!--</ng-container>-->
                <!--<ng-container cdkColumnDef="A_S_REFERRAL_ADVICE">-->
                <!--    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>A_S_REFERRAL_ADVICE-->
                <!--    </mat-header-cell>-->
                <!--    <mat-cell *cdkCellDef="let camp" fxHide fxShow.gt-md>-->
                <!--        <p class="phone text-truncate">-->
                <!--            {{camp.A_S_REFERRAL_ADVICE}}-->
                <!--        </p>-->
                <!--    </mat-cell>-->
                <!--</ng-container>-->
                <!--<ng-container cdkColumnDef="CHIEF_COMPLAINTS_DURATION">-->
                <!--    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>CHIEF_COMPLAINTS_DURATION-->
                <!--    </mat-header-cell>-->
                <!--    <mat-cell *cdkCellDef="let camp" fxHide fxShow.gt-md>-->
                <!--        <p class="phone text-truncate">-->
                <!--            {{camp.CHIEF_COMPLAINTS_DURATION}}-->
                <!--        </p>-->
                <!--    </mat-cell>-->
                <!--</ng-container>-->
                <!--<ng-container cdkColumnDef="CHIEF_COMPLAINTS_OCULAR_SEQUELAE">-->
                <!--    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>CHIEF_COMPLAINTS_OCULAR_SEQUELAE-->
                <!--    </mat-header-cell>-->
                <!--    <mat-cell *cdkCellDef="let camp" fxHide fxShow.gt-md>-->
                <!--        <p class="phone text-truncate">-->
                <!--            {{camp.CHIEF_COMPLAINTS_OCULAR_SEQUELAE}}-->
                <!--        </p>-->
                <!--    </mat-cell>-->
                <!--</ng-container>-->
                <!--<ng-container cdkColumnDef="CHIEF_COMPLAINTS_SPH">-->
                <!--    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>CHIEF_COMPLAINTS_SPH-->
                <!--    </mat-header-cell>-->
                <!--    <mat-cell *cdkCellDef="let camp" fxHide fxShow.gt-md>-->
                <!--        <p class="phone text-truncate">-->
                <!--            {{camp.CHIEF_COMPLAINTS_SPH}}-->
                <!--        </p>-->
                <!--    </mat-cell>-->
                <!--</ng-container>-->
                <!--<ng-container cdkColumnDef="CHIEF_COMPLAINTS_SYSTEMIC_ILLNESS">-->
                <!--    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>CHIEF_COMPLAINTS_SYSTEMIC_ILLNESS-->
                <!--    </mat-header-cell>-->
                <!--    <mat-cell *cdkCellDef="let camp" fxHide fxShow.gt-md>-->
                <!--        <p class="phone text-truncate">-->
                <!--            {{camp.CHIEF_COMPLAINTS_SYSTEMIC_ILLNESS}}-->
                <!--        </p>-->
                <!--    </mat-cell>-->
                <!--</ng-container>-->
                <ng-container cdkColumnDef="FINAL_REMARKS">
                    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>FINAL_REMARKS
                    </mat-header-cell>
                    <mat-cell *cdkCellDef="let camp" fxHide fxShow.gt-md>
                        <p class="phone text-truncate">
                            {{camp.FINAL_REMARKS}}
                        </p>
                    </mat-cell>
                </ng-container>
                <!--<ng-container cdkColumnDef="OPTHALMIC_ASSISTANT">-->
                <!--    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>OPTHALMIC_ASSISTANT-->
                <!--    </mat-header-cell>-->
                <!--    <mat-cell *cdkCellDef="let camp" fxHide fxShow.gt-md>-->
                <!--        <p class="phone text-truncate">-->
                <!--            {{camp.OPTHALMIC_ASSISTANT}}-->
                <!--        </p>-->
                <!--    </mat-cell>-->
                <!--</ng-container>-->

                <!--<ng-container cdkColumnDef="PINHOLE_LE">-->
                <!--    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>PINHOLE_LE-->
                <!--    </mat-header-cell>-->
                <!--    <mat-cell *cdkCellDef="let camp" fxHide fxShow.gt-md>-->
                <!--        <p class="phone text-truncate">-->
                <!--            {{camp.PINHOLE_LE}}-->
                <!--        </p>-->
                <!--    </mat-cell>-->
                <!--</ng-container>-->
                <!--<ng-container cdkColumnDef="PINHOLE_RE">-->
                <!--    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>PINHOLE_RE-->
                <!--    </mat-header-cell>-->
                <!--    <mat-cell *cdkCellDef="let camp" fxHide fxShow.gt-md>-->
                <!--        <p class="phone text-truncate">-->
                <!--            {{camp.PINHOLE_RE}}-->
                <!--        </p>-->
                <!--    </mat-cell>-->
                <!--</ng-container>-->
                <!--<ng-container cdkColumnDef="REFRACTION_LEFT_EYE_ADD_LEFT_EYE">-->
                <!--    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>REFRACTION_LEFT_EYE_ADD_LEFT_EYE-->
                <!--    </mat-header-cell>-->
                <!--    <mat-cell *cdkCellDef="let camp" fxHide fxShow.gt-md>-->
                <!--        <p class="phone text-truncate">-->
                <!--            {{camp.REFRACTION_LEFT_EYE_ADD_LEFT_EYE}}-->
                <!--        </p>-->
                <!--    </mat-cell>-->
                <!--</ng-container>-->
                <!--<ng-container cdkColumnDef="REFRACTION_LEFT_EYE_ADD_LEFT_EYE_VA">-->
                <!--    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>REFRACTION_LEFT_EYE_ADD_LEFT_EYE_VA-->
                <!--    </mat-header-cell>-->
                <!--    <mat-cell *cdkCellDef="let camp" fxHide fxShow.gt-md>-->
                <!--        <p class="phone text-truncate">-->
                <!--            {{camp.REFRACTION_LEFT_EYE_ADD_LEFT_EYE_VA}}-->
                <!--        </p>-->
                <!--    </mat-cell>-->
                <!--</ng-container>-->
                <!--<ng-container cdkColumnDef="REFRACTION_LEFT_EYE_AXIS">-->
                <!--    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>REFRACTION_LEFT_EYE_AXIS-->
                <!--    </mat-header-cell>-->
                <!--    <mat-cell *cdkCellDef="let camp" fxHide fxShow.gt-md>-->
                <!--        <p class="phone text-truncate">-->
                <!--            {{camp.REFRACTION_LEFT_EYE_AXIS}}-->
                <!--        </p>-->
                <!--    </mat-cell>-->
                <!--</ng-container>-->
                <!--<ng-container cdkColumnDef="REFRACTION_LEFT_EYE_CYL">-->
                <!--    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>REFRACTION_LEFT_EYE_CYL-->
                <!--    </mat-header-cell>-->
                <!--    <mat-cell *cdkCellDef="let camp" fxHide fxShow.gt-md>-->
                <!--        <p class="phone text-truncate">-->
                <!--            {{camp.REFRACTION_LEFT_EYE_CYL}}-->
                <!--        </p>-->
                <!--    </mat-cell>-->
                <!--</ng-container>-->
                <!--<ng-container cdkColumnDef="REFRACTION_LEFT_EYE_SPH">-->
                <!--    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>REFRACTION_LEFT_EYE_SPH-->
                <!--    </mat-header-cell>-->
                <!--    <mat-cell *cdkCellDef="let camp" fxHide fxShow.gt-md>-->
                <!--        <p class="phone text-truncate">-->
                <!--            {{camp.REFRACTION_LEFT_EYE_SPH}}-->
                <!--        </p>-->
                <!--    </mat-cell>-->
                <!--</ng-container>-->
                <!--<ng-container cdkColumnDef="REFRACTION_LEFT_EYE_VA">-->
                <!--    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>REFRACTION_LEFT_EYE_VA-->
                <!--    </mat-header-cell>-->
                <!--    <mat-cell *cdkCellDef="let camp" fxHide fxShow.gt-md>-->
                <!--        <p class="phone text-truncate">-->
                <!--            {{camp.REFRACTION_LEFT_EYE_VA}}-->
                <!--        </p>-->
                <!--    </mat-cell>-->
                <!--</ng-container>-->
                <!--<ng-container cdkColumnDef="REFRACTION_RIGHT_EYE_ADD_RIGHT_EYE">-->
                <!--    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>REFRACTION_RIGHT_EYE_ADD_RIGHT_EYE-->
                <!--    </mat-header-cell>-->
                <!--    <mat-cell *cdkCellDef="let camp" fxHide fxShow.gt-md>-->
                <!--        <p class="phone text-truncate">-->
                <!--            {{camp.REFRACTION_RIGHT_EYE_ADD_RIGHT_EYE}}-->
                <!--        </p>-->
                <!--    </mat-cell>-->
                <!--</ng-container>-->
                <!--<ng-container cdkColumnDef="REFRACTION_RIGHT_EYE_ADD_RIGHT_EYE_VA">-->
                <!--    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>REFRACTION_RIGHT_EYE_ADD_RIGHT_EYE_VA-->
                <!--    </mat-header-cell>-->
                <!--    <mat-cell *cdkCellDef="let camp" fxHide fxShow.gt-md>-->
                <!--        <p class="phone text-truncate">-->
                <!--            {{camp.REFRACTION_RIGHT_EYE_ADD_RIGHT_EYE_VA}}-->
                <!--        </p>-->
                <!--    </mat-cell>-->
                <!--</ng-container>-->
                <!--<ng-container cdkColumnDef="REFRACTION_RIGHT_EYE_AXIS">-->
                <!--    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>REFRACTION_RIGHT_EYE_AXIS-->
                <!--    </mat-header-cell>-->
                <!--    <mat-cell *cdkCellDef="let camp" fxHide fxShow.gt-md>-->
                <!--        <p class="phone text-truncate">-->
                <!--            {{camp.REFRACTION_RIGHT_EYE_AXIS}}-->
                <!--        </p>-->
                <!--    </mat-cell>-->
                <!--</ng-container>-->
                <!--<ng-container cdkColumnDef="REFRACTION_RIGHT_EYE_CYL">-->
                <!--    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>REFRACTION_RIGHT_EYE_CYL-->
                <!--    </mat-header-cell>-->
                <!--    <mat-cell *cdkCellDef="let camp" fxHide fxShow.gt-md>-->
                <!--        <p class="phone text-truncate">-->
                <!--            {{camp.REFRACTION_RIGHT_EYE_CYL}}-->
                <!--        </p>-->
                <!--    </mat-cell>-->
                <!--</ng-container>-->
                <!--<ng-container cdkColumnDef="REFRACTION_RIGHT_EYE_SPH">-->
                <!--    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>REFRACTION_RIGHT_EYE_SPH-->
                <!--    </mat-header-cell>-->
                <!--    <mat-cell *cdkCellDef="let camp" fxHide fxShow.gt-md>-->
                <!--        <p class="phone text-truncate">-->
                <!--            {{camp.REFRACTION_RIGHT_EYE_SPH}}-->
                <!--        </p>-->
                <!--    </mat-cell>-->
                <!--</ng-container>-->
                <!--<ng-container cdkColumnDef="REFRACTION_RIGHT_EYE_VA">-->
                <!--    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>REFRACTION_RIGHT_EYE_VA-->
                <!--    </mat-header-cell>-->
                <!--    <mat-cell *cdkCellDef="let camp" fxHide fxShow.gt-md>-->
                <!--        <p class="phone text-truncate">-->
                <!--            {{camp.REFRACTION_RIGHT_EYE_VA}}-->
                <!--        </p>-->
                <!--    </mat-cell>-->
                <!--</ng-container>-->
                <!--<ng-container cdkColumnDef="UNAIDED_VA_LE">-->
                <!--    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>UNAIDED_VA_LE-->
                <!--    </mat-header-cell>-->
                <!--    <mat-cell *cdkCellDef="let camp" fxHide fxShow.gt-md>-->
                <!--        <p class="phone text-truncate">-->
                <!--            {{camp.UNAIDED_VA_LE}}-->
                <!--        </p>-->
                <!--    </mat-cell>-->
                <!--</ng-container>-->
                <!--<ng-container cdkColumnDef="UNAIDED_VA_RE">-->
                <!--    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>UNAIDED_VA_RE-->
                <!--    </mat-header-cell>-->
                <!--    <mat-cell *cdkCellDef="let camp" fxHide fxShow.gt-md>-->
                <!--        <p class="phone text-truncate">-->
                <!--            {{camp.UNAIDED_VA_RE}}-->
                <!--        </p>-->
                <!--    </mat-cell>-->
                <!--</ng-container>-->
                <ng-container cdkColumnDef="create_timestamp">
                    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>create_timestamp
                    </mat-header-cell>
                    <mat-cell *cdkCellDef="let camp" fxHide fxShow.gt-md>
                        <p class="phone text-truncate">
                            {{camp.create_timestamp}}
                        </p>
                    </mat-cell>
                </ng-container>
                <ng-container cdkColumnDef="data_entry_time">
                    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>data_entry_time
                    </mat-header-cell>
                    <mat-cell *cdkCellDef="let camp" fxHide fxShow.gt-md>
                        <p class="phone text-truncate">
                            {{camp.data_entry_time}}
                        </p>
                    </mat-cell>
                </ng-container>
                <ng-container cdkColumnDef="update_timestamp">
                    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>update_timestamp
                    </mat-header-cell>
                    <mat-cell *cdkCellDef="let camp" fxHide fxShow.gt-md>
                        <p class="phone text-truncate">
                            {{camp.update_timestamp}}
                        </p>
                    </mat-cell>
                </ng-container>
                <ng-container cdkColumnDef="Edit">
                    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Edit
                    </mat-header-cell>
                    <mat-cell *cdkCellDef="let camp" (click)="$event.stopPropagation()" fxHide fxShow.gt-md>
                        <p class="phone text-truncate">
                            <mat-icon (click)="editScreening(camp)">edit</mat-icon>
                        </p>
                    </mat-cell>
                </ng-container>
                <mat-header-row *cdkHeaderRowDef="camps.columns"></mat-header-row>
                <mat-row *cdkRowDef="let camp; columns: camps.columns;" (click)="screeningClicked(camp)">
                </mat-row>
            </mat-table>
            <div>
                <!--<app-newscreening></app-newscreening>-->
            </div>
        </div>
        <!-- / Front -->


    </fuse-widget>
</div>
