<script src="https://maps.google.com/maps/api/js?key=AIzaSyAJ4VIMPyVSbTP3QFtPB0ziHlyCf_siXek"></script>
<div class="dialog-content-wrapper">
    <div class="loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-button class="mat-icon-button" (click)="dialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <!--<mat-toolbar-row class="toolbar-bottom py-8 py-sm-16" fxLayout="column" fxLayoutAlign="center center">-->
        <!--    <img [src]="contact.avatar" class=" avatar contact-avatar huge" [alt]="contact.name" />-->
        <!--    <div class="contact-name">{{contact.name}}</div>-->
        <!--</mat-toolbar-row>-->
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

        <form [formGroup]="newCampForm">

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">

                <mat-form-field class="full-width">
                    <mat-select placeholder="Select State" formControlName="state" required (change)="onStateSelect($event)">
                        <mat-option *ngFor="let state of states" [value]="state.state_code">
                            {{state.state_name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="newCampForm.get('state').hasError('required')">
                        State is required
                    </mat-error>
                </mat-form-field>


            </div>
            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Select District" formControlName="district" required [(ngModel)]="selectedDistrict" (change)="onDistrictSelect($event)">
                        <mat-option *ngFor="let district of districts" [value]="district.district_code">
                            {{district.district_name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="newCampForm.get('district').hasError('required')">
                        District is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Select Mandal" formControlName="mandal" required>
                        <mat-option *ngFor="let mandal of mandals" [value]="mandal.mandal_code">
                            {{mandal.mandal_name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="newCampForm.get('mandal').hasError('required')">
                        Mandal is required
                    </mat-error>
                </mat-form-field>
            </div>
            
            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field class="full-width">
                    <input matInput [matDatepicker]="dp3" placeholder="Camp Date" disabled formControlName="campDate" required>
                    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                    <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                    <mat-error *ngIf="newCampForm.get('campDate').hasError('required')">
                        Camp Date is required
                    </mat-error>
                </mat-form-field>
            </div>

            

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Select Project Id" formControlName="project" required (change)="onProjectSelected($event)">
                        <mat-option *ngFor="let project of projects" [value]="project.project_id" >
                            {{project.project_name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="newCampForm.get('project').hasError('required')">
                        project is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Select Location" formControlName="location"  [(ngModel)]="selectedLocation">
                        <mat-option *ngFor="let location of locations" [value]="location.location_id">
                            {{location.location_name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="newCampForm.get('location').hasError('required')">
                        Location is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Select Camp coordinator" formControlName="campCoordinator" required>
                        <mat-option *ngFor="let campCoordinator of campCoordinators" [value]="campCoordinator.employee_id">
                            {{campCoordinator.employee_name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="newCampForm.get('campCoordinator').hasError('required')">
                        Camp Cordinator is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                    <mat-form-field class="full-width">
                        <mat-select placeholder="Select Camp Opthalmologist" formControlName="campOpthamologist" required>
                            <mat-option *ngFor="let opthalmologist of opthalmologists" [value]="opthalmologist.employee_id">
                                {{opthalmologist.employee_name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="newCampForm.get('campOpthamologist').hasError('required')">
                            Camp Opthamologist is required
                        </mat-error>
                    </mat-form-field>
                </div>
            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field class="full-width">
                    <input matInput type="text" placeholder="Camp Place" formControlName="campPlace" required>
                    <mat-error *ngIf="newCampForm.get('campPlace').hasError('required')">
                        Camp Place is required
                    </mat-error>
                </mat-form-field>
                  <button  mat-raised-button (click)="locateAddress()" class="save-button mat-accent" >
                    Locate
                </button>
            </div>
            <div class="fuse-card auto-width p-16">

                <agm-map class="h-640 w-100-p" (mapReady)="onMapReady($event)" (mapClick)="onMapClicked($event)" [latitude]="mapData.marker.lat" [longitude]="mapData.marker.long" [zoom]="mapData.zoom" [fullscreenControl]="true" [rotateControl]="false" [zoomControl]="true" [scaleControl]="true" [streetViewControl]="false"
                    [scrollwheel]="false">
                    <agm-marker (dragEnd)="markerDragEnd(m, $event)" [latitude]="mapData.marker.lat" [longitude]="mapData.marker.long" [markerDraggable]="mapData.marker.draggable">
                        <agm-info-window>
                            <strong>{{mapData.marker.label}}</strong>
                        </agm-info-window>
                    </agm-marker>
                </agm-map>

            </div>



        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

        <button *ngIf="action !=='edit'" mat-raised-button (click)="scheduleACamp()" class="save-button mat-accent" [disabled]="newCampForm.invalid" aria-label="SAVE">
            SAVE
        </button>

        <button *ngIf="action ==='edit'" mat-raised-button (click)="scheduleACamp()" class="save-button mat-accent" [disabled]="newCampForm.invalid" aria-label="SAVE">
            SAVE
        </button>

        <button *ngIf="action ==='edit'" mat-button class="mat-icon-button" (click)="dialogRef.close(['delete',newCampForm])" aria-label="Delete" matTooltip="Delete">
            <mat-icon>delete</mat-icon>
        </button>

    </div>
</div>
