<form class="example-form">


    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="24px">
        <mat-form-field>
            <mat-select placeholder="Select State" [(ngModel)]="selectedValue" name="food" (ngModelChange)="onSelect($event)">
                <mat-option *ngFor="let food of foods" [value]="food.state_code">
                    {{food.state_name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Select District" [(ngModel)]="selectedDistrict" name="district" (ngModelChange)="onSelectDistrict()">
                <mat-option *ngFor="let district of districts" [value]="district.district_code">
                    {{district.district_name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Select Mandal" [(ngModel)]="selectedMandal" name="mandal" (ngModelChange)="onSelectMandal()">
                <mat-option *ngFor="let mandal of mandals" [value]="mandal.mandal_code">
                    {{mandal.mandal_name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </div>


    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="24px">

        <mat-form-field>
            <mat-select placeholder="Select Location" [(ngModel)]="selectedLocation" name="location">
                <mat-option *ngFor="let location of locations" [value]="location.location_code">
                    {{location.location_name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="dp3" placeholder="Input disabled" disabled [(ngModel)]="campDate" name="campDate">
            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
            <mat-datepicker #dp3 disabled="false"></mat-datepicker>

        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="24px">

        <mat-form-field>
            <input matInput type="text" placeholder="Camp Place" [(ngModel)]="campPlace" formControlName="campPlace">
            <mat-error *ngIf="dataFormErrors.campPlace.required">
                Camp Place is required
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Project Id" [(ngModel)]="projectId" name="projectId">
        </mat-form-field>


        <mat-form-field>
            <input matInput placeholder="Camp Coordinator Id" [(ngModel)]="coordinatorId" name="coordinatorId">
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="24px">

        <mat-form-field>
            <input matInput placeholder="Camp Coordinator Id" [(ngModel)]="coordinatorId" name="coordinatorId">
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="24px">

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Latitude" [(ngModel)]="latitude" name="latitude" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Longitude" [(ngModel)]="longitude" name="longitude" />
        </mat-form-field>

        <button mat-icon-button color="accent">
            <mat-icon (click)="getGps()">pin_drop</mat-icon>
        </button>

    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="24px">
        <button mat-raised-button color="warn" (click)="submitData()">
            Cancel
        </button>
        <button mat-raised-button color="accent" (click)="cancelData()">
            Submit
        </button>

    </div>
</form>
