<div id="login" fxLayout="row" fxLayoutAlign="start">

    <div id="login-intro" fxFlex fxHide fxShow.gt-xs>

    </div>
    <!--<mat-toolbar matDialogTitle class="mat-accent m-0">-->
    <!--    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">-->
    <!--        <span class="title dialog-title">New Camp</span>-->
    <!--        <button mat-button class="mat-icon-button" (click)="dialogRef.close()" aria-label="Close dialog">-->
    <!--            <mat-icon>close</mat-icon>-->
    <!--        </button>-->
    <!--    </mat-toolbar-row>-->
    <!--</mat-toolbar>-->

    <div id="login-form-wrapper">


        <div id="login-form">

            <div class="logo" fxHide.gt-xs>
                <span>F</span>
            </div>

            <div class="title">Enter Details</div>

            <form name="loginForm" [formGroup]="loginForm" novalidate>

                <!--<mat-form-field>-->
                <!--    <input matInput placeholder="Email" formControlName="email" [(ngModel)]="email">-->
                <!--    <mat-error *ngIf="loginFormErrors.email.required">-->
                <!--        Email is required-->
                <!--    </mat-error>-->
                <!--    <mat-error *ngIf="!loginFormErrors.email.required && loginFormErrors.email.email">-->
                <!--        Please enter a valid email address-->
                <!--    </mat-error>-->
                <!--</mat-form-field>-->

                <!--<mat-form-field>-->
                <!--    <input matInput type="password" placeholder="Password" formControlName="password" [(ngModel)]="password">-->
                <!--    <mat-error *ngIf="loginFormErrors.password.required">-->
                <!--        Password is required-->
                <!--    </mat-error>-->
                <!--</mat-form-field>-->

                <!--<button mat-raised-button color="accent" class="submit-button" aria-label="LOGIN" [disabled]="loginForm.invalid">-->
                <!--    LOGIN-->
                <!--</button>-->

                <!--<mat-form-field>-->
                <!--    <mat-select placeholder="Select State" [(ngModel)]="food" formControlName="food" required>-->
                <!--        <mat-option *ngFor="let food of foods" [value]="food.state_code">-->
                <!--            {{food.state_name}}-->
                <!--        </mat-option>-->
                <!--    </mat-select>-->
                <!--    <mat-error *ngIf="loginFormErrors.food.required">-->
                <!--        State is required-->
                <!--    </mat-error>-->
                <!--</mat-form-field>-->

                <mat-form-field>
                    <mat-select placeholder="Select State" [formControl]="animalControl" required>
                        <mat-option *ngFor="let animal of animals" [value]="animalControl">
                            {{animal.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="animalControl.hasError('required')">
                        State is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-select placeholder="Favorite animal" [formControl]="animalControl1" required>
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let animal1 of animals1" [value]="animal1">
                            {{animal1.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="animalControl1.hasError('required')">Please choose an animal1</mat-error>
                    <mat-hint>{{animalControl1.value?.sound}}</mat-hint>
                </mat-form-field>

                <mat-form-field>
                    <mat-select placeholder="select netwrk state" [formControl]="foodControl" name="foods" required>
                        <mat-option *ngFor="let food of foods" [value]="food">
                            {{food.state_name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="foodControl.hasError('required')">Please choose an netwek state</mat-error>
                    <mat-hint>{{foodControl.value?.sound}}</mat-hint>
                </mat-form-field>


                <!--            <select class="form-control" #t (change)="ZonaChanged(t.value)" formControlName="nama_zona">-->
                <!--  <option *ngFor="let lz of listKota" [value]="lz.label">  -->
                <!--      {{lz.label}}-->
                <!--  </option>-->
                <!--</select>-->
                <!--        <mat-form-field>-->
                <!--            <mat-select placeholder="Select District" [(ngModel)]="selectedDistrict" formControlName="district" (ngModelChange)="onSelectDistrict()">-->
                <!--                <mat-option *ngFor="let district of districts" [value]="district.district_code">-->
                <!--                    {{district.district_name}}-->
                <!--                </mat-option>-->
                <!--            </mat-select>-->
                <!--            <mat-error *ngIf="loginFormErrors.district.required">-->
                <!--                District is required-->
                <!--            </mat-error>-->
                <!--        </mat-form-field>-->
                <!--        <mat-form-field>-->
                <!--            <mat-select placeholder="Select Mandal" [(ngModel)]="selectedMandal" formControlName="mandal" (ngModelChange)="onSelectMandal()">-->
                <!--                <mat-option *ngFor="let mandal of mandals" [value]="mandal.mandal_code">-->
                <!--                    {{mandal.mandal_name}}-->
                <!--                </mat-option>-->
                <!--            </mat-select>-->
                <!--            <mat-error *ngIf="loginFormErrors.mandal.required">-->
                <!--                Mandal is required-->
                <!--            </mat-error>-->
                <!--        </mat-form-field>-->

                <!--        <mat-form-field>-->
                <!--            <mat-select placeholder="Select Location" [(ngModel)]="selectedLocation" formControlName="location">-->
                <!--                <mat-option *ngFor="let location of locations" [value]="location.location_code">-->
                <!--                    {{location.location_name}}-->
                <!--                </mat-option>-->
                <!--            </mat-select>-->
                <!--            <mat-error *ngIf="loginFormErrors.location.required">-->
                <!--                Location is required-->
                <!--            </mat-error>-->
                <!--        </mat-form-field>-->

                <!--        <mat-form-field class="example-full-width">-->
                <!--            <input matInput [matDatepicker]="dp3" placeholder="Camp Date" disabled [(ngModel)]="campDate" formControlName="campDate">-->
                <!--            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>-->
                <!--            <mat-datepicker #dp3 disabled="false"></mat-datepicker>-->
                <!--            <mat-error *ngIf="loginFormErrors.campDate.required">-->
                <!--                Camp Date is required-->
                <!--            </mat-error>-->
                <!--        </mat-form-field>-->

                <!--        <mat-form-field>-->
                <!--            <input matInput type="text" placeholder="Camp Place" [(ngModel)]="campPlace" formControlName="campPlace">-->
                <!--            <mat-error *ngIf="loginFormErrors.campPlace.required">-->
                <!--                Camp Place is required-->
                <!--            </mat-error>-->
                <!--        </mat-form-field>-->

                <!--        <mat-form-field>-->
                <!--            <input matInput type="text" placeholder="Project Id" [(ngModel)]="projectId" formControlName="projectId">-->
                <!--            <mat-error *ngIf="loginFormErrors.projectId.required">-->
                <!--                Project Id is required-->
                <!--            </mat-error>-->
                <!--        </mat-form-field>-->


                <!--        <mat-form-field>-->
                <!--            <input matInput type="text" placeholder="Camp Coordinator Id" [(ngModel)]="coordinatorId" formControlName="coordinatorId">-->
                <!--            <mat-error *ngIf="loginFormErrors.coordinatorId.required">-->
                <!--                Camp Coordinator Id is required-->
                <!--            </mat-error>-->
                <!--        </mat-form-field>-->

                <!--        <mat-form-field class="example-full-width">-->
                <!--            <input matInput type="number" placeholder="Latitude" [(ngModel)]="latitude" name="latitude" />-->
                <!--            <mat-error *ngIf="loginFormErrors.latitude.required">-->
                <!--                Latitude is required-->
                <!--            </mat-error>-->
                <!--        </mat-form-field>-->

                <!--        <mat-form-field class="example-full-width">-->
                <!--            <input matInput type="number" placeholder="Longitude" [(ngModel)]="longitude" formControlName="longitude" />-->
                <!--            <mat-error *ngIf="loginFormErrors.longitude.required">-->
                <!--                Longitude is required-->
                <!--            </mat-error>-->
                <!--        </mat-form-field>-->

                <!--        <button mat-icon-button color="accent">-->
                <!--    <mat-icon (click)="getGps()">pin_drop</mat-icon>-->
                <!--</button>-->

            </form>
        </div>
    </div>
</div>
