
<div class="widget-group grey-100-bg" fxLayout="row wrap" fxFlex="100" *fuseIfOnDom [@animateStagger]="{value:'50'}">
        <!-- <app-mapselect></app-mapselect> -->

    <!--<div fusePerfectScrollbar>-->

    <div class="loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>

    <!-- WIDGET 11 -->
    <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="row" fxFlex="100">

        <!-- Front -->
        <div fusePerfectScrollbar class="fuse-widget-front mat-white-bg mat-elevation-z2">

            <div class="p-24 mb-8 border-bottom" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="h2">Camps</div>
                <div class="text-boxed red-bg white-fg m-0">
                    {{camps.rows.length}} members
                </div>
            </div>

            <mat-table #table [dataSource]="campsDataSource" matSort matSortActive="Camp" matSortDisableClear matSortDirection="asc">

                <!-- Avatar Column -->
                <ng-container cdkColumnDef="camp_id">
                    <mat-header-cell fxFlex="64px" *cdkHeaderCellDef></mat-header-cell>
                    <mat-cell fxFlex="64px" *cdkCellDef="let camp">
                        <img class="avatar" *ngIf="camp.camp_id" [alt]="camp.name" [src]="camp.avatar" />
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container cdkColumnDef="camp_place">
                    <mat-header-cell *cdkHeaderCellDef>Camp</mat-header-cell>
                    <mat-cell *cdkCellDef="let camp">
                        <p class="text-truncate font-weight-600">{{camp.camp_place}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Position Column -->
                <ng-container cdkColumnDef="camp_date">
                    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>Camp held on
                    </mat-header-cell>
                    <mat-cell *cdkCellDef="let camp" fxHide fxShow.gt-sm>
                        <p class="position text-truncate">
                            {{camp.camp_date}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Office Column -->
                <ng-container cdkColumnDef="state_name">
                    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>State
                    </mat-header-cell>
                    <mat-cell *cdkCellDef="let camp" fxHide fxShow.gt-md>
                        <p class="office text-truncate">
                            {{camp.state_name}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Email Column -->
                <ng-container cdkColumnDef="district_name">
                    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>District
                    </mat-header-cell>
                    <mat-cell *cdkCellDef="let camp" fxHide fxShow.gt-sm>
                        <p class="email text-truncate">
                            {{camp.district_name}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Phone Column -->
                <ng-container cdkColumnDef="mandal_name">
                    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Mandal
                    </mat-header-cell>
                    <mat-cell *cdkCellDef="let camp" fxHide fxShow.gt-md>
                        <p class="phone text-truncate">
                            {{camp.mandal_name}}
                        </p>
                    </mat-cell>
                </ng-container>
                <ng-container cdkColumnDef="coordinator_name">
                    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Camp Coordinator
                    </mat-header-cell>
                    <mat-cell *cdkCellDef="let camp" fxHide fxShow.gt-md>
                        <p class="phone text-truncate">
                            {{camp.coordinator_name}}
                        </p>
                    </mat-cell>
                </ng-container>
                <ng-container cdkColumnDef="opthalmologist_name">
                    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Opthalmologist
                    </mat-header-cell>
                    <mat-cell *cdkCellDef="let camp" fxHide fxShow.gt-md>
                        <p class="phone text-truncate">
                            {{camp.opthalmologist_name}}
                        </p>
                    </mat-cell>
                </ng-container>
                <ng-container cdkColumnDef="screenings">
                    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>screenings
                    </mat-header-cell>
                    <mat-cell *cdkCellDef="let camp" fxHide fxShow.gt-md>
                        <p class="phone text-truncate">
                            {{camp.screenings}}
                        </p>
                    </mat-cell>
                </ng-container>
                <ng-container cdkColumnDef="Edit">
                    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Edit
                    </mat-header-cell>
                    <mat-cell *cdkCellDef="let camp" (click)="$event.stopPropagation()" fxHide fxShow.gt-md>
                        <p class="phone text-truncate">
                            <mat-icon (click)="editCamp(camp)">edit</mat-icon>
                        </p>
                    </mat-cell>
                </ng-container>
                <mat-header-row *cdkHeaderRowDef="camps.columns"></mat-header-row>
                <mat-row *cdkRowDef="let camp; columns: camps.columns;" (click)="campClicked(camp)">
                </mat-row>
            </mat-table>
        </div>
        <!-- / Front -->

    </fuse-widget>
    <div class="fab-button-bottom-right">
        <button mat-fab (click)="addCamp()" color="accent" *fuseIfOnDom [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
                <mat-icon>add</mat-icon>
            </button>
    </div>
    <!--</div>-->
</div>
